.form {
  display: grid;
  gap: 2.5rem;
}
.label {
  position: relative;
}
.input {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  color: var(--main-text-cl);
  border: 1px solid var(--main-text-cl);
  &:focus {
    outline: none;
  }
  &:-webkit-autofill {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--main-text-cl);
  }
}
.text {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 250ms linear;
  .input:focus + &,
  .input:not(:placeholder-shown) + & {
    transform: translateY(-250%);
  }
}
.error {
  position: absolute;
  z-index: 2;
  left: 1rem;
  top: -2rem;
  color: var(--accent-cl);
  background-color: var(--main-cl);
}
.textarea {
  composes: input;
  resize: none;
}
.button {
  composes: input;
  cursor: pointer;
  transition: color 250ms linear, border-color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-cl);
    border-color: var(--accent-cl);
  }
}
