.list {
  margin-left: auto;
  margin-right: auto;
  max-width: 26rem;
  display: grid;
  justify-content: center;
  gap: 1rem;
}
.item {
  display: grid;
  grid-template-columns: 6rem 1fr;
}
.key {
  text-transform: capitalize;
}
