.item {
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 250ms linear;
  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.1);
    & .wrapper {
      opacity: 1;
      transform: translateY(-100%);
    }
  }
}
.img {
  width: 280px;
}
.wrapper {
  position: absolute;
  width: 280px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--main-text-cl-dark);
  background-color: var(--backdrop-cl-light);
  opacity: 0;
  transition: transform 250ms linear, opacity 250ms linear;
}
.tech {
  text-align: center;
}
.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
