.link {
  display: inline-flex;
  margin-top: 1rem;
  padding: 1rem;
  align-items: baseline;
  border: 1px solid var(--accent-cl);
  border-radius: 20px;
  transition: background-color 250ms linear, border-color 250ms linear;
  &:hover,
  &:focus {
    border-color: var(--main-text-cl);
    background-color: var(--accent-cl);
  }
}
.icon {
  margin-left: 0.5rem;
}
