@import "../../styles/mixin";

.skills {
  margin-bottom: 2rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
  @include mq(tablet) {
    grid-template-columns: 2fr 1fr;
  }
}
.wrapper {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  display: grid;
  gap: 2rem;
}
