@import "../../styles/_mixin.scss";

.container {
  @include mq(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }
}
.img {
  margin-right: auto;
  margin-left: auto;
  @include mq(tablet) {
    margin-right: unset;
    width: 400px;
  }
}
.content {
  padding: 1rem;
  font-size: 1.5rem;
  @include mq(desktop) {
    max-width: 550px;
  }
}
.title {
  font-size: 1.5em;
  text-align: center;
  @include mq(tablet) {
    text-align: unset;
  }
}
.block {
  display: block;
}
.name {
  composes: block;
  color: var(--accent-cl);
}
.summary {
  margin-top: 1rem;
  text-align: justify;
}
