@import "../../styles/_mixin.scss";

.container {
  @include mq(tablet) {
    display: flex;
    gap: 5rem;
  }
}
.img {
  margin: 0 auto;
}
.content {
  padding: 1rem;
}
.title {
  font-size: 1.5rem;
}
.name {
  margin-left: 0.25rem;
  color: var(--accent-cl);
}
.summary {
  margin-top: 0.5rem;
  text-align: justify;
}
