.form {
  display: grid;
  gap: 1rem;
}
.input {
  padding: 1rem;
  background-color: transparent;
  color: var(--main-text-cl);
  border: 1px solid var(--main-text-cl);
}
.textarea {
  composes: input;
  resize: none;
}
.button {
  composes: input;
  cursor: pointer;
  transition: color 250ms linear, border-color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-cl);
    border-color: var(--accent-cl);
  }
}
