@import "../../styles/mixin";
.container {
  display: grid;
  gap: 2rem;
  @include mq(tablet) {
    grid-template-columns: 1fr 2fr;
  }
}
.contacts {
  display: grid;
  gap: 1rem;
}
.flex {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.logo {
  color: var(--logo-cl);
}
.hover {
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
.link {
  composes: hover;
  margin-left: 0.25rem;
  text-decoration: underline;
}
.social {
  composes: flex;
  gap: 1rem;
}
.icon {
  composes: hover;
  color: var(--logo-cl);
}
