.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.link {
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 250ms linear, color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
.active {
  composes: link;
  color: var(--accent-cl);
  opacity: 1;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
